#ntu-scheduler, #ntu-starter, #ntu-cleaner {
    width: 100%;
}

.tdc-card {
    text-align: left;
}

#tdcOverlay {
    position: fixed;
    display: none;
    text-align: center;
    padding: 25%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}